/* SOURCE: https://getbootstrap.com/docs/4.4/examples/sticky-footer-navbar/ */

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #e20202;
}



code {
  font-size: 80%;
}
